.content-card {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0;
}
.picture {
    width: 100%;
    padding-top: 100%;
    position: relative;
}
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info {
    padding: var(--card-padding);
}
.info .fa-wrench {
    font-size: 1.5rem;
    margin-inline-end: 0.5rem;
    transform: rotate(180deg);
    animation: rotation 5s linear 1s infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}