<nav class="main-nav" role="navigation">
    <button (click)="openNav()" class="menu" [class.open]="isOpen" aria-label="Open navigation" aria-expanded="false"></button>
    <ul class="nav-links" [class.open]="isOpen">
        <li>
            <a routerLink="/home">
                <i class="fas fa-home nav-links__icon"></i>
                <span class="nav-links__label">Home</span>
            </a>
        </li>
        <li>
            <a routerLink="/profile">
                <i class="fas fa-calendar-day nav-links__icon"></i>
                <span class="nav-links__label">Profile</span>
            </a>
        </li>
        <li>
            <a routerLink="/cv">
                <i class="fas fa-users nav-links__icon"></i>
                <span class="nav-links__label">Cv</span>
            </a>
        </li>
        <li>
            <a href="https://sannionk.herokuapp.com/route-planner/route-planner.html">
                <i class="fas fa-star nav-links__icon"></i>
                <span class="nav-links__label">Route Planner <i class="fas fa-external-link-alt"></i></span>
            </a>
        </li>
    </ul>
</nav>

<!-- <ul class="navigation">
  <li class="navigation-item"><a routerLink="/home">Home</a></li>
  <li class="navigation-item"><a routerLink="/profile">Profile</a></li>
  <li class="navigation-item"><a routerLink="/cv">Cv</a></li>
  <li class="navigation-item"><a routerLink="/route-planner">Route Planner</a></li>
</ul> -->