html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
    background-color: rgb(31, 31, 31);
    background-image: radial-gradient(rgb(31, 31, 31), rgb(41, 41, 41));
    color: white;
    line-height: 1.4;
    margin: 0;
}

.header {
    height: 200px;
    align-items: center;
}

footer {
    background-color: rgb(24, 25, 26);
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
}