body {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
}

.header {
    height: 200px;
    align-items: center;
}

footer {
    background-color: rgb(24, 25, 26);
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
}

img {
    border-radius: 100%;
}

.profile {
    align-items: center;
}